@mixin flexbox{
	display:-webkit-box; // old
	display:-moz-box; // old
	display:-ms-flexbox; // ie
	display:-webkit-flex; // new
	display:flex; // new
}
//div {@include flexbox();}

*{
	color: #fff;
	font-size: 10px;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	box-sizing: border-box;
}

body{
	background-color: #000;
}
//Main section

.section__main{
	.container{
		max-width: 64em;
		margin: auto;
		.main__title{
			text-align: center;
			vertical-align: middle;
			line-height: 100vh;
			font-size: 3em;
		}
	}
}

.section__second{
	.right__menu{
		position: absolute;
		right: 10%;
		top: 50%;
		margin-top: -124px;
		a{
			text-decoration: none;
			display: block;
			margin-bottom: 4em;
			img{
				width: 2.5em;
				height: 3em;
			}
		}
		a:last-child{
			margin-bottom: 0;
		}
	}
	.container{
		max-width: 35em;
		margin: auto;
		position: relative;

		.wrapper{
			margin: auto;
			//max-width: 35em;
			min-height: 100vh;
			background: url("../img/logo.svg") no-repeat;
			//background-size: 75% auto;
			background-position: center center;
		}
	}
}


.section__three{
	height: 100vh;
	display: flex;
	.back__link{
		position: absolute;
		top: 20%;
		left: 10%;
		.back__btn {
			width: 1.8em;
			height: 1.8em;
		}
	}
	.container{
		max-width: 35em;
		margin: auto;
		position: relative;

		.wrapper{
			margin: auto;
			a{
				text-decoration: none;
				display: block;
				margin-bottom: 3em;
			}
			.main__title{

				font-size: 3em;
			}
		}

	}
}

.section__four{
	height: 100vh;
	display: flex;

	.back__link{
		position: absolute;
		top: 20%;
		left: 10%;
		.back__btn{
			width: 1.6em;
			height: 1.9em;
		}
	}
	.container{
		max-width: 35em;
		margin: auto;
		position: relative;
		.wrapper{
			margin: auto;
			max-width: 35em;
			min-height: 15em;
			.video{
				text-decoration: none;
				.row{
					@include flexbox();
					padding-bottom: 2em;
					//&:nth-child(2){
					//	padding-bottom: 0; //?
					//}
					.play{
						text-decoration: none;
						display: block;
						width: 1.8em;
						height: 1.8em;
						margin-top: 0.6em;
						margin-right: 1.8em;
						img{
							width: 1.8em;
							height: 1.8em;
						}
					}
					.main__title{
						vertical-align: middle;
						font-size: 3em;
					}
				}
			}

		}
	}
}

.section__five{
	.container{
		.back__link{
			position: absolute;
			top: 20%;
			left: 10%;
			z-index: 3;
			.back__btn{
				width: 1.8em;
				height: 1.8em;
			}
		}
		.wrapper{
			position: relative;
			.owl-carousel {
				position: relative;
				height: 100vh;
				.owl-prev {
					position: absolute;
					right: 10%;
					top: 35%;
					width: 1.8em;
					height: 1.8em;
					background-image: url("../img/back.svg");
					background-repeat: no-repeat;
				}
				.owl-next{
					position: absolute;
					right: 10%;
					top: 20%;
					width: 1.8em;
					height: 1.8em;
					background-image: url("../img/forward.svg");
					background-repeat: no-repeat;
				}
				.owl-dots{
					display: none;
				}
			}
			.buy__link{
				position: absolute;
				background-color: rgba(0,0,0,0);
				right: 10%;
				bottom: 20%;
				width: 1.8em;
				z-index: 3;
				.buy__btn{
					width: 20px;
				}
			}
		}
	}
}

.owl-carousel .owl-item img {
	display: block;
	width: 100%;
	height: 100vh;
}

.section__six{
	.back__link{
		position: absolute;
		top: 20%;
		left: 10%;
		z-index: 3;
		.back__btn{
			width: 1.8em;
			height: 1.8em;
		}
	}
	.container{
		max-width: 35em;
		margin: auto;
		position: relative;
		a{
			position: absolute;
			left: -6em;
			top: 0.9em;
			.back__btn {
				width: 1.8em;
				height: 1.8em;
			}
		}
		.wrapper{
			margin: auto;
			max-width: 30em;

			.main__title{
				margin-top: 20%;
				font-size: 3em;

			}
		}
	}
}

.section__seven{
	height: 100vh;
	display: flex;
	.back__link{
		position: absolute;
		left: 10%;
		top: 20%;
		.back__btn {
			width: 2em;
			height: 2em;
		}
	}
	.container{
		max-width: 35em;
		margin: auto;
		position: relative;

		.wrapper{
			margin: auto;
			a{
				text-decoration: none;
				display: block;
				margin-bottom: 3em;
			}
			.main__title{
				font-size: 3em;
				margin-bottom: 1em;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}

	}
}

.section__eight{
	height: 100vh;
	display: flex;

	.back__link{
		position: absolute;
		top: 20%;
		left: 10%;
		.back__btn{
			width: 1.6em;
			height: 1.9em;
		}
	}
	.container{
		max-width: 35em;
		margin: auto;
		position: relative;
		.wrapper{
			margin: auto;
			max-width: 35em;
			min-height: 15em;
			.row{
				@include flexbox();
				line-height: 3em;
				.play{
					text-decoration: none;
					display: block;
					width: 1.8em;
					height: 1.8em;
					margin-top: 0.6em;
					margin-right: 1.8em;
					img{
						width: 1.8em;
						height: 1.8em;
					}
				}
				.main__title{
					vertical-align: middle;
					font-size: 3em;
				}

			}

		}

	}
}




