@mixin flexbox{
	display:-webkit-box; // old
	display:-moz-box; // old
	display:-ms-flexbox; // ie
	display:-webkit-flex; // new
	display:flex; // new
}
//div {@include flexbox();}

*{
	background-color: #000;
	color: #fff;
	font-size: 10px;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	box-sizing: border-box;

}

//Main section

.section__main{
	.container{
		max-width: 64em;
		margin: auto;
		.main__title{
			text-align: center;
			vertical-align: middle;
			line-height: 100vh;
			font-size: 3em;
		}
	}
}

.section__second{
	.container{
		max-width: 44em;
		margin: auto;
		position: relative;

		.wrapper{
			margin: auto;
			max-width: 44em;
			min-height: 100vh;
			background: url("../img/logo.svg") no-repeat;
			background-size: 75% auto;
			background-position: center center;
		}
		.right__menu{
			position: absolute;
			right: -4em;
			top: 8em;
			a{
				text-decoration: none;
				display: block;
				margin-bottom: 3em;
				img{
					width: 3em;
					height: 3em;
				}
			}
			a:last-child{
				margin-bottom: 0;
			}
		}
	}
}


.section__three{
	padding: 10em 0;
	.container{
		max-width: 44em;
		margin: auto;
		position: relative;
		a{
			position: absolute;
			left: -6em;
			top: -4em;
			.back__btn {
				width: 2em;
				height: 2em;
			}
		}
		.wrapper{
			margin: auto;
			max-width: 30em;
			min-height: 15em;
			.main__title{
				vertical-align: middle;
				font-size: 3em;
			}
		}

	}
}

.section__four{
	padding: 10em 0;
	.container{
		max-width: 44em;
		margin: auto;
		position: relative;
		.back__link{
			position: absolute;
			left: -6em;
			top: -4em;
			.back__btn{
				width: 2em;
				height: 2em;
			}
		}
		.wrapper{
			margin: auto;
			max-width: 35em;
			min-height: 15em;
			.row{
				@include flexbox();
				line-height: 3em;
				.play{
					text-decoration: none;
					display: block;
					width: 1.8em;
					height: 1.8em;
					margin-top: 0.6em;
					margin-right: 1.8em;

					img{
						width: 1.8em;
						height: 1.8em;
					}
				}
				.main__title{
				vertical-align: middle;
				font-size: 3em;
				}

			}

		}

	}
}

.section__five{
	padding: 4em 0;
	.container{
		//max-width: 44em;
		//margin: auto;
		//position: relative;
		//.back__link{
		//	position: absolute;
		//	left: -6em;
		//	top: -4em;
		//	.back__btn{
		//		width: 2em;
		//		height: 2em;
		//	}

		.wrapper{
			position: relative;
			.owl-carousel {
				position: relative;
				height: 100vh;
				.owl-prev {
					position: absolute;
					left: 9%;
					top: 15%;
					width: 1.8em;
					height: 1.8em;
					background-image: url("../img/back.svg");
				}
				.owl-next {
					position: absolute;
					right: 9%;
					top: 15%;
					width: 1.8em;
					height: 1.8em;
					background-image: url("../img/forward.svg");
				}
			}
			.buy__link{
				position: absolute;
				right: 9%;
				bottom: 32%;
				width: 2em;
				z-index: 3;
				.buy__btn{
					width: 20px;
				}
			}
		}
	}
}

.section__six{
	padding: 4em 0;
	.container{
		max-width: 44em;
		margin: auto;
		position: relative;
		a{
			position: absolute;
			left: -6em;
			top: 0.9em;
			.back__btn {
				width: 2em;
				height: 2em;
			}
		}
		.wrapper{
			margin: auto;
			max-width: 30em;
			min-height: 15em;
			.main__title{
				font-size: 3em;
				height: 100vh;
			}
		}

	}
}




