* {
  color: #fff;
  font-size: 10px;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

.section__main {
  display: none;
}
@media screen and (max-width: 567px) {
  .section__main {
    display: block;
  }
}
.section__main .container {
  max-width: 64em;
  margin: auto;
}
.section__main .container .main__title {
  text-align: center;
  vertical-align: middle;
  line-height: 100vh;
  font-size: 3em;
}

.section__second {
  display: block;
}
@media screen and (max-width: 567px) {
  .section__second {
    display: none;
  }
}
.section__second .container {
  max-width: 35em;
  margin: auto;
  position: relative;
}
.section__second .container .wrapper {
  margin: auto;
  min-height: 100vh;
  background: url("../img/logo.svg") no-repeat center;
}
.section__second .container .wrapper .right__menu {
  position: absolute;
  right: -40%;
  top: 50%;
  margin-top: -12.55em;
  display: block;
}
@media screen and (max-width: 567px) {
  .section__second .container .wrapper .right__menu {
    display: none;
  }
}
.section__second .container .wrapper .right__menu a {
  text-decoration: none;
  display: block;
  margin-bottom: 4.9em;
}
.section__second .container .wrapper .right__menu a img {
  width: 1.8em;
}
.section__second .container .wrapper .right__menu a:last-child {
  margin-bottom: 0;
}

.section__three {
  height: 100vh;
  display: flex;
}
.section__three .back__link {
  position: absolute;
  top: 20%;
  left: 10%;
}
.section__three .back__link .back__btn {
  width: 1.8em;
  height: 1.8em;
}
.section__three .container {
  max-width: 35em;
  margin: auto;
  position: relative;
}
.section__three .container .wrapper {
  margin: auto;
}
.section__three .container .wrapper a {
  text-decoration: none;
  display: block;
  margin-bottom: 3em;
}
.section__three .container .wrapper .main__title {
  font-size: 3em;
}

.section__four {
  height: 100vh;
  display: flex;
}
.section__four .back__link {
  position: absolute;
  top: 20%;
  left: 10%;
}
.section__four .back__link .back__btn {
  width: 1.6em;
  height: 1.9em;
}
.section__four .container {
  max-width: 35em;
  margin: auto;
  position: relative;
}
.section__four .container .wrapper {
  margin: auto;
  max-width: 35em;
  min-height: 15em;
}
.section__four .container .wrapper .video {
  text-decoration: none;
}
.section__four .container .wrapper .video .row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-bottom: 2em;
}
.section__four .container .wrapper .video .row .play {
  text-decoration: none;
  display: block;
  width: 1.8em;
  height: 1.8em;
  margin-top: 0.6em;
  margin-right: 1.8em;
}
.section__four .container .wrapper .video .row .play img {
  width: 1.8em;
  height: 1.8em;
}
.section__four .container .wrapper .video .row .main__title {
  vertical-align: middle;
  font-size: 3em;
}

.section__five .container .back__link {
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 3;
}
.section__five .container .back__link .back__btn {
  width: 1.8em;
  height: 1.8em;
}
.section__five .container .wrapper {
  position: relative;
}
.section__five .container .wrapper .owl-carousel {
  position: relative;
  height: 100vh;
}
.section__five .container .wrapper .owl-carousel .owl-prev {
  position: absolute;
  right: 10%;
  top: 35%;
  width: 1.8em;
  height: 1.8em;
  background-image: url("../img/back.svg");
  background-repeat: no-repeat;
}
.section__five .container .wrapper .owl-carousel .owl-next {
  position: absolute;
  right: 10%;
  top: 20%;
  width: 1.8em;
  height: 1.8em;
  background-image: url("../img/forward.svg");
  background-repeat: no-repeat;
}
.section__five .container .wrapper .owl-carousel .owl-dots {
  display: none;
}
.section__five .container .wrapper .buy__link {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  right: 10%;
  bottom: 20%;
  width: 1.8em;
  z-index: 3;
}
.section__five .container .wrapper .buy__link .buy__btn {
  width: 20px;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  height: 100vh;
}

.section__six .back__link {
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 3;
}
.section__six .back__link .back__btn {
  width: 1.8em;
  height: 1.8em;
}
.section__six .container {
  max-width: 35em;
  margin: auto;
  position: relative;
}
.section__six .container a {
  position: absolute;
  left: -6em;
  top: 0.9em;
}
.section__six .container a .back__btn {
  width: 1.8em;
  height: 1.8em;
}
.section__six .container .wrapper {
  margin: auto;
  max-width: 30em;
}
.section__six .container .wrapper .main__title {
  margin-top: 20%;
  font-size: 3em;
}

.section__seven {
  height: 100vh;
  display: flex;
}
.section__seven .back__link {
  position: absolute;
  left: 10%;
  top: 20%;
}
.section__seven .back__link .back__btn {
  width: 2em;
  height: 2em;
}
.section__seven .container {
  max-width: 35em;
  margin: auto;
  position: relative;
}
.section__seven .container .wrapper {
  margin: auto;
}
.section__seven .container .wrapper a {
  text-decoration: none;
  display: block;
  margin-bottom: 3em;
}
.section__seven .container .wrapper .main__title {
  font-size: 3em;
  margin-bottom: 1em;
}
.section__seven .container .wrapper .main__title:last-child {
  margin-bottom: 0;
}

.section__eight {
  height: 100vh;
  display: flex;
}
.section__eight .back__link {
  position: absolute;
  top: 20%;
  left: 10%;
}
.section__eight .back__link .back__btn {
  width: 1.6em;
  height: 1.9em;
}
.section__eight .container {
  max-width: 35em;
  margin: auto;
  position: relative;
}
.section__eight .container .wrapper {
  margin: auto;
  max-width: 35em;
  min-height: 15em;
}
.section__eight .container .wrapper .row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  line-height: 3em;
}
.section__eight .container .wrapper .row .play {
  text-decoration: none;
  display: block;
  width: 1.8em;
  height: 1.8em;
  margin-top: 0.6em;
  margin-right: 1.8em;
}
.section__eight .container .wrapper .row .play img {
  width: 1.8em;
  height: 1.8em;
}
.section__eight .container .wrapper .row .main__title {
  vertical-align: middle;
  font-size: 3em;
}

/*# sourceMappingURL=style.css.map */
